# pyproject.toml
[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm[toml]>=6.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/superqt/_version.py"

[tool.check-manifest]
ignore = ["src/superqt/_version.py"]
